@charset "UTF-8";

/* 共通 */

body {
	margin: 0;
	font-family: 'Crafty Girls', cursive;
	font-weight: normal;
}

header {
	padding: 12px;
	background-color: #9eead9;
	height: 46px;
	min-width: 500px;
}

header h1 {
	float: left;
	margin: 0;
	width: 250px;
}

header h2 {
	font-family: 'Hiragino Maru Gothic ProN';
	float: right;
	margin: 0;
	width: 250px;
}

header:after {
	content: "";
	display: block;
	clear: both;
}

div.container {
	width: 1280px;
	height: 444px;
	padding-top: 60px;
	padding-bottom: 20px;
}

footer {
	padding: 20px;
	background-color: #9eead9;
	text-align: center;
	font-family: 'Hiragino Mincho Pro';
}

footer p {
	font-size: 15px;
}

footer a {
	color: #000;
	text-decoration: none;
}

/* トップページ */



#entry {
	margin: 50px auto 0;
	padding: 20px;
	border: 1px solid grey;
	border-radius: 50%;
	background: #cad4d9;
	width: 250px;
	height: 250px;
	box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.5);
}

#msg {
	margin-top: 20px;
	margin-left: 23px;
}

form {
	margin-top: 90px;
}

dt  {
	margin-left: 45px;
}


input[type="submit"] {
	margin-left: 90px;
	width: 70px;
	height: 70px;
	font-size: medium;
	background-color: orange;
	color: #fff;
	border-radius: 50%;
	border: none;
	font-family: monospace;
}

input[type="submit"]:hover {
	background-color: #f3c667;
}

input[type="submit"]:focus {
	outline: none;
}







/* result.scala.html */

.toTop {
	text-decoration: none;
	color: #000;
	margin: 20px auto 0;
	display: block;
	padding: 30px;
	font-size: 20px;
	background: #d1eee3;
	width: 130px;
	height: 15px;
	line-height: 15px;
	box-shadow: 0 7px 0 0 grey;
	position: relative;
}

.toTop:hover {
	opacity: 0.5;
	box-shadow: none;
	top: 7px;
}

#result {
	margin: 0 auto;
	width: 500px;
	height: 250px;
	border: 1px solid black;
	padding-top: 80px;
	padding-bottom: 20px;
}

#result h3 {
	text-align: center;
}

#result #title {
	width: 400px;
	height: 80px;
	background: yellow;
	border: 1px solid gray;
	text-align: center;
	line-height: 80px;
	color: black;
	margin: 0 auto;
	cursor: pointer;
}
