body {
	margin: 0;
	font-family: 'Crafty Girls', cursive;
	font-weight: normal;
}

header {
	padding: 12px;
	background-color: #9eead9;
	height: 46px;
	min-width: 500px;
	margin-bottom: 50px;
}

header h1 {
	float: left;
	margin: 0;
	width: 250px;
}

header h2 {
	font-family: 'Hiragino Maru Gothic ProN';
	float: right;
	margin: 0;
	width: 250px;
}

header:after {
	content: "";
	display: block;
	clear: both;
}

#menu {
	background: #d4e2be;
	padding: 20px;
	border-radius: 30px;
	width: 300px;
	margin: 0 auto;
}

#menu > h1 {
	font-size: 23px;
	margin: 3px 3px 10px 3px;
}

#menu > ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'Hiragino Maru Gothic ProN';
}

#menu li a {
	position: relative;
	text-decoration: none;
	display: block;
	padding: 10px 5px 10px 30px;
	color: black;
	font-size: 15px;
	line-height: 1.5;
}

#menu li a:before {
	position: absolute;
	left: 10px;
	top: 10px;
	content: '◆';
	color: #51b29e;
	font-size: 15px;
}

#menu li a:hover {
	background: #d9c849;
	cursor: pointer;
}

#entry {
	margin: 50px auto 0;
	padding: 20px;
	border: 1px solid grey;
	border-radius: 50%;
	background: #cad4d9;
	width: 250px;
	height: 250px;
	box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.5);
}

#msg {
	margin-top: 20px;
	margin-left: 23px;
}

form {
	margin-top: 90px;
}

dt  {
	margin-left: 45px;
}


input[type="submit"] {
	margin-left: 90px;
	width: 70px;
	height: 70px;
	font-size: medium;
	background-color: orange;
	color: #fff;
	border-radius: 50%;
	border: none;
	font-family: monospace;
}

input[type="submit"]:hover {
	background-color: #f3c667;
}

input[type="submit"]:focus {
	outline: none;
}


footer {
	padding: 20px;
	background-color: #9eead9;
	text-align: center;
	margin-top: 50px;
	font-family: 'Hiragino Mincho Pro';
}

footer p {
	font-size: 15px;
}

footer a {
	color: #000;
	text-decoration: none;
}


/* encourage.scala.html */

#helper {
	margin: 0 auto;
	width: 500px;
	height: 400px;
	padding: 10px 30px;
}

#helper h1,h2 {
	text-align: center;
	padding-left: 30px;
}

#helper form {
	margin-top: 20px;
}

#helper form dl {
	text-align: center;
}

#helper form input[type="submit"] {
	margin-left: 230px;
}

/* encouraged.scala.html */
table {
	margin: 0 auto;
	width: 400px;
}

table th, td {
	text-align: center;
	border: 1px solid gray;
}


/* result.scala.html */

.toTop {
	text-decoration: none;
	color: #000;
	margin: 20px auto 0;
	display: block;
	padding: 30px;
	font-size: 20px;
	background: #d1eee3;
	width: 130px;
	height: 15px;
	line-height: 15px;
	box-shadow: 0 7px 0 0 grey;
	position: relative;
}

.toTop:hover {
	opacity: 0.5;
	box-shadow: none;
	top: 7px;
}

#result {
	margin: 0 auto;
	width: 500px;
	height: 250px;
	border: 1px solid black;
	padding-top: 80px;
	padding-bottom: 20px;
}

#result h3 {
	text-align: center;
}

#result #title {
	width: 400px;
	height: 80px;
	background: yellow;
	border: 1px solid gray;
	text-align: center;
	line-height: 80px;
	color: black;
	margin: 0 auto;
	cursor: pointer;
}
