@(msg: String, formOne: Form[Application.SampleForm])

@main("Top Page") {
	
    <div id="menu">
    	<h1>MENU</h1>
    	<ul>
    		<li><a href="#">使い方</a></li>
    		<li><a href="/hoge">hoge</a></li>
    		<li><a href="#">お問い合わせ</a></li>
    	</ul>
    </div>
    
    
     
     <div id="entry">
     	<p id="msg">@msg</p>
     
     	@helper.form(action = routes.Application.send){
     	
     		@(helper.inputText(
     			field = formOne("regret"),
     			args = 'size->25
     		))
     	
     	<input type="submit" value="ポチる">
     	}
     </div>
           

}
