@(msg: String, formOne: Form[Application.SampleForm])

@main("Top Page") {
	
	<header>
	  <h1>Blue Beetle</h1>
      <h2> <i class="fa fa-eraser fa-rotate-90 fa-lg"></i> 後悔ケシゴム </h2>
	</header>
	  
    
    
    <div id="menu">
    	<h1>MENU</h1>
    	<ul>
    		<li><a href="#">いやー誰でも後悔の一つや二つあるでしょう</a></li>
    		<li><a href="#">平和な人生なんてないんですよ、多分</a></li>
    		<li><a href="#">楽園なんてない</a></li>
    	</ul>
    </div>
    
    
     
     <div id="entry">
     	<p id="msg">@msg</p>
     
     	@helper.form(action = routes.Application.send){
     	
     		@(helper.inputText(
     			field = formOne("regret"),
     			args = 'size->25
     		))
     	
     	<input type="submit">
     	}
     </div>
     
     
     <footer>
     	<p>Copyright <i class="fa fa-copyright"></i> BlueBeetle</p>
     	<p>Powered by <a href="#">PlayFramework2</a></p>
     </footer>
         
     
     
     
     

}
